<html lang="en"><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#2196f3">
	<meta name="description" content="Internet of Things data platform for temperature and humidity sensors with maps">
	<meta name="keywords" content="tempmonitor, iot, internet of things, iot platform, internet of things platform, iot data platform, internter of things data platform">
	<title>Cloud Iot</title>

	<link href="../css/app.css" rel="stylesheet">

	<!-- Fonts -->
	<link href="//fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<link href="../css/paper.min.css" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Cloud Iot</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="http://tempmonitor.silviosimunic.com/home">Home</a></li>
									</ul>

				<ul class="nav navbar-nav navbar-right">
											<li><a href="http://tempmonitor.silviosimunic.com/auth/login">Login</a></li>
						<li><a href="http://tempmonitor.silviosimunic.com/auth/register">Register</a></li>
									</ul>
			</div>
		</div>
	</nav>
    <div class="background"></div>

	    <div class="container" style=" padding-left: 20px; padding-right: 20px; padding-top: 0px;">
            <!--
              <div class="b" style="position: absolute; width: 100%; left:0; margin-top: -25px;  background: url('/img/bg.png') no-repeat ;  background-size: cover; border-bottom: solid 1px whitesmoke;">
                <h1 style="color: white;  text-shadow: 1px 1px 1px black;">Temp Monitor</h1>
                <p class="lead" style="color: whitesmoke; text-shadow: 1px 1px 1px grey;">Smart Wi-Fi Temperature & Humidity Sensor</p>

              </div>
		    -->
        <div class="b">
            <h1>Temp Monitor</h1>
            <p class="lead">Internet of Things data platform for temperature and humidity sensors with maps</p>
            <br>
            <iframe src="https://ghbtns.com/github-btn.html?user=ssimunic&amp;repo=Temp-Monitor&amp;type=star&amp;count=true&amp;size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            <br><br>
            <hr>
        </div>
        <div class="row" style="margin-bottom: 50px; <!--margin-top: 225px;-->">
            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
                <div class="box">
                    <div class="box-icon">
                        <span class="glyphicon glyphicon-flash" style="font-size: 20px;"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Setup</h4>
                        <p>
                            Connect your Raspberry Pi, Arduino or other IoT boards and start monitoring temperature and humidity of your environment from anywhere in the world.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="box">
                    <div class="box-icon">
                        <span class="glyphicon glyphicon-cloud" aria-hidden="true" style="font-size: 20px;"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Data</h4>
                        <p>
                            Sensor readings are stored in the cloud. You can visualize data through various graphs that feature Live, daily and monthly readings.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="box">
                    <div class="box-icon">
                        <span class="glyphicon glyphicon-phone" style="font-size: 20px;"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Alerts</h4>
                        <p>
                            Customize your sensor's rules. If temperature or humidity is above or below limits, or batteries are low, you will receive a message via SMS or email.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="box">
                    <div class="box-icon">
                        <span class="glyphicon glyphicon-pushpin" style="font-size: 20px;"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Maps</h4>
                        <p>
                            If you have more sensors at your house or at some location, you can use Google maps or create custom ones to make monitoring easier.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
    <style>
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        padding-top: 87px;
        margin-bottom: 60px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;
    }

    body > .container {
        padding: 60px 15px 0;
    }

    .container .text-muted {
        margin: 18px 0;
    }

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

	th, label, b{
		font-weight: 500;
	}


    </style>
    <footer class="footer">
      <div class="container" style="width: 100%;">
        <p class="text-muted text-center">Copyright <a target="_blank" href="http://silviosimunic.com/" style="color: #bbbbbb">Silvio Simunic</a> © 2017.</p>
      </div>
    </footer>

	<script>

        $(document).ready(function(){
            $('input[type="checkbox"]').click(function(){
               $('.alerts').toggle(200);
            });

             $(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $('[data-toggle="popover"]').popover();
             });
        });
	</script>


</body></html>
